.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
 

/* 
.chart_container{
  display: flex;
  flex-wrap: nowrap; 
  overflow: auto;
  transform: scale(.8);
} */

.chart_container canvas{
  height: 350px !important;
  width:1000px !important;
}




.slider_component {
  background-color: #fff;
  /* padding: 8px 16px; */
}

.slider {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* min-width: 0;
  min-height: 0; */
  overflow: auto;   scrollbar-width: none;

}

.slider_children {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 0;
  min-height: 0;
  background-color: #f2f8ff;
  margin-right: 8px;
  flex-wrap: nowrap;
  flex-shrink: 0;
}